*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #fondo {
      font-size: 70px;
      text-align: center;
  }
  
  #e23 {
    border: 2px solid rgb(255, 255, 255);
    font-size: 60px;
    font-family: Lucida Calligraphy;
    background-color: #072227;
    color: white;
  }
  #e23:hover {
    box-shadow: 0px -1px 10px 5px rgb(7, 7, 7);
  }
  
  h4 {
    margin-top: 20px;
    font-size: 30px;
    font-family: MS PGothic;
    color: black;
  }