#fondo{
    background-color: #30475E;
    color: white;
    text-align: center;
    font-size: 40px;
}
#uno{
    font-size: 50px;
    font-family: Lucida Calligraphy;
    text-align: center;

}

#dos{
    font-size: 20px;
    font-family: Lucida Calligraphy;
    text-align: center;
    color: #F05454;
}

#coloruno{
    background-color: #F05454;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    text-decoration: none;

}
#coloruno:hover{
    background-color: white;
    color: #F05454;
}
#colordos{
    background-color: #F05454;
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
    padding: 20px;
    color: white;
    text-decoration: none;
}
#colordos:hover{
    background-color: white;
    color: #F05454;
}
#colortres{
    background-color: #F05454;
    padding: 20px;
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
#colortres:hover{
    background-color: white;
    color: #F05454;
}
#botones{
  display: flex;
  justify-content: space-around;
}
#di{
    background-color: black;
    text-align: center;
    padding: 10px;
    font-size: 50px;
    border-radius: 20px;
    width: 300px;
    margin-left: 450px;
}