body{
  background-color: #30475E;
  text-align: center;
  color: #F05454;
  
}
h1{
  color: aliceblue;
  font-size: 80px;
}
h2{
  font-size: 70px;
  color: #F05454;
}
h4{
  font-size: 50px;
  color: #F5F5F5;
}
p{
  font-size: 50px;
  color: aliceblue;
  background-color: #121212;
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 30px;
  text-align: center;
}

a{
  text-decoration: none;
  background-color: #F05454;
  color:#F5F5F5 ;
  padding: 30px;
  border-radius: 30px;
}
.contenedor{
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  

}

a:hover{
  background-color: #F5F5F5;
  color: #F05454;
}