*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#fondo {
    background-color: #30475E;
    color: white;
    font-size: 55px;
    text-align: center;
}

#e22 {
  font-size: 60px;
  font-family: Lucida Calligraphy;
}


#doit{
  margin-top: 20px;
  font-size: 30px;
  font-family: MS PGothic;
}

.contenedor{
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  height: 50px;
  font-size: 25px;
}

a:hover{
  background-color: #F5F5F5;
  color: #F05454;
}

.fondo2 {
  background-color: #30475E;
  height: 800px;
}

a{
  text-decoration: none;
  background-color: #F05454;
  color:#F5F5F5 ;
  padding: 30px;
  border-radius: 30px;
  margin-top: -50px;
}
