#fondo{
    background-color: black;
    color: white;
}
#uno{
    font-size: 50px;
    font-family: Lucida Calligraphy;
    text-align: center;
}
#dos{
    font-size: 20px;
    font-family: Lucida Calligraphy;
    text-align: center;
}