body{
    background-color: #30475E;
}

.titulo{
    color: #F5F5F5;
    text-align: center;
    font-size: 100px;
}
.contenedor{
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 100px;
    display: grid;
    
    grid-template-columns: auto auto auto auto auto auto auto auto ;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    
}

a{  
    padding: 50px;
    text-decoration: none;
    color: #F5F5F5;
    background-color:#F05454;
    border-radius: 10px;
}
.nombre{
    color: #F5F5F5;
    font-size: 90px;
    margin-left: 50px;
}

a:hover{
    background-color: #F5F5F5;
    color: #F05454;
}

.nombre {
    font-size: 50px;
}